@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
       
        $('.work').draggable();

    </script>
</head>
<body>
    <div class="work ui-widget-content draggable">
       df

    </div>
</body>
</html>
