@*@model NetGraph.ViewModels.ExploderViewModel*@

@*@using Utils*@

<!-- Path Menu -->
<div id="Navigate" style="float: left">
</div>

    <hr style=" clear: both" />
    <!-- Content -->
    <div style="overflow-y: scroll; height: 100%">
       
        <table  class="MinorTable" style="width: 100%" id="ExploderTable">
            <thead>
            <tr>
                <td>id_record</td>
                <td>Type</td>
                <td>Index</td>
                <td>Denotation</td>
                <td>Amount</td>
                <td>Depth</td>
            </tr>
            </thead>
    </table>
</div>