@*@model NetGraph.ViewModels.WorkDetailViewModel*@
<div style="margin-top:1px">
    <span>Roadmap</span></div>
<hr />
<!-- Content -->
<div style="overflow-y: scroll; height: 100%">

    <table class="MinorTable" style="width: 100%" id="WorkDetaleTable">
        <thead>
            <tr>
                <td>Index</td>
                <td>Denotation</td>
                <td>Chain Nr.</td>
                <td>Department</td>
                <td>Duration</td>
                <td>Operation</td>
            </tr>
        </thead>
    </table>
</div>