
.RibbonMenu  
{
    padding: 0px;
    margin: 0px ;
    display: block;
    float: left;
}

.RibbonMenu li
{
    box-sizing: border-box;
    display: block;
    float: left;
    height: 40px;
}

.RibbonMenu li.Btn
{
    cursor: pointer;
}

.RibbonMenu .Btn:hover
{
    background-color: #3f3f46;   
}

.RibbonMenu li>span
{
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    float: left;
}

   .RibbonMenu li img
   {
       max-width: 100%;
       max-height: 100%;
       float: left;
       vertical-align: center;
       margin-left: 10px;
       margin-top: 3px;
   }

    .Toggle
    {
        background-color: #073655;   
    }