
.MinorTable
{
    white-space:  nowrap;
  
    border-collapse: collapse;
 
}
.MinorTable thead
{
    background-color: #2d2e32;
}

.MinorTable tbody tr
{
    background-color: #595959;
}

.MinorTable tbody tr:hover
{
    background-color: #757c81;
    cursor: pointer;
}

.MinorTable tbody td
{
  
       padding-left: 5px;
}