/*  New Session */
.NavigatorExploder
{
    display: block;
    float: left;
    height: 100%;
    width: 50%;
    background-color: #252526;
    bottom: 0px;

    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.NavigatorWorkDetail
{
    display: block;
    float: right;
    height: 100%;
    width: 50%;
    margin:0px;
    padding: 0px;
    background-color: #252526;
    bottom: 0px; 
    box-sizing: border-box;
}

.NavigatorHeader
{
    display: block;
   
    height: 30px;
    background-color: #333333; 
    color: #AdAdAd;   
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin: 0px;
    text-align: center;
}

.NavigatorApplication
{
    
    display: block;
    background-color: #252526;
    height: 40px;
}

.NavigatorInput
{

    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.NavigatorMenu 
{
    float: right;
    padding: 4px;
}

.NavigatorMenu:hover
{
    cursor: pointer;
    background-color: #757c81;
 
}